/* GENERAL */
* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
}

.grid {
  border: solid;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	min-height: 1px;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cell {
  border: solid red;
  width: 100%;
  padding: 10px;
}

.short-cell {
  height: 100px;
}

.tall-cell {
  height: 200px;
}

.evenly-spaced-children {
  display: flex;
  justify-content: space-between;
}

.visible-border {
  border: solid thin;
}

/* NAVBAR */

.logo {
  margin-right: 200px;
}

.links {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 30%;
}

.link a {
  text-decoration: none;
  color: inherit;
  border: solid thin;
  padding: 20px;
}
