/* GENERAL */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.grid {
  border: solid;
  text-align: center;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	min-height: 1px;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row-with-padding {
  padding: 0 20px;
}

.cell {
  border: solid red;
  width: 100%;
  padding: 10px;
}

.cell:nth-child(even) {
  margin: 0 5%;
}

.short-cell {
  height: 100px;
}

.tall-cell {
  height: 200px;
}

.evenly-spaced-children {
  display: flex;
  justify-content: space-between;
}

.visible-border {
  border: solid thin;
}

/* NAVBAR */

.logo {
  margin-right: 150px;
}

.links {
  flex: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.link a {
  text-decoration: none;
  color: inherit;
  border: solid red;
  padding: 20px;
}

/* FOOTER */
footer {
  padding: 10px 0;
}

@media (max-width: 767px) {
  .row, .evenly-spaced-children {
    display: block;
  }

  .cell:nth-child(even) {
    margin: 20px 0;
  }

  .link {
    margin: 20px 0;
  }

  .link a {
    display: block;
    width: 100%;
  }

  .logo {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
